<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <ul th:replace="fragments/leftMenu :: leftMenu"></ul>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">

            <nav th:replace="fragments/header :: header"></nav>
            <div class="container-fluid">
                <form class="user" th:action="@{/category-assets/update/{id}(id=${cate.id})}" method="post" th:object="${cate}">
                    <div class="form-group">
                        <input class="form-control form-control-user"
                               th:field="*{id}"
                               placeholder="ID" disabled="disabled">
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-user"
                               th:field="*{name}"
                               placeholder="Tên danh mục tài sản">
                    </div>
                    <button type="submit" class="btn btn-primary btn-user btn-block">
                        Cập nhật danh mục
                    </button>
                </form>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script th:href="@{/vendor/jquery/jquery.min.js}"></script>
<script th:href="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:href="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:href="@{/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script th:href="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
<script th:href="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

<!-- Page level custom scripts -->
<script th:href="@{/js/demo/datatables-demo.js}"></script>

</body>

</html>
