<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout.html}"
>
<div id="wrapper">
    <div class="container-fluid" layout:fragment="content">
        <form class="user" th:action="@{/category-suppliers/create}" method="post" th:object="${cate}">
            <div class="form-group">
                <input class="form-control form-control-user"
                       th:field="*{name}"
                       placeholder="Tên danh mục tài sản">
            </div>
            <button type="submit" class="btn btn-primary btn-user btn-block">
                Tạo danh mục
            </button>
        </form>
    </div>
    <!-- /.container-fluid -->

</div>
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
</html>
